
.company-detail{
    &-requisites{
        width: 70%;
        margin: 0 auto;
        &-item{
            display: flex;
            justify-content: space-between;
            padding: 20px;
            border-bottom: 1px solid black;
        }
    }
}

@media screen and (max-width: 768px) {
    .company-detail-requisites{
        width: 100%!important;
    }
}

@media screen and (max-width: 576px){

    .company-detail-requisites-item{
        column-gap: 20px;
    }
    .company-detail-requisites-item-name,
    .company-detail-requisites-item-value{
        font-size: 14px;
    }
}
