.community {
  .banner {
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-bottom: 50px;

    .content-head {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      height: 85vh;
      width: 65%;
    }
  }
}
.backdrop {
}
.modal {
  height: 100vh;
  width: 100%;
  background-color: #00000070;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  display: none;
  &__dialog {
    position: fixed;
    width: 700px;
    border-radius: 44px;
    padding: 54px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    z-index: 1;
    &-title {
      font-family: Helvetica;
      font-size: 54px;
      font-weight: 400;
      line-height: 54px;
      letter-spacing: -0.04em;
      text-align: left;
      text-underline-position: from-font;
      text-decoration-skip-ink: none;
      margin-bottom: 50px;
    }
    ul li {
      display: flex;
      align-items: end;
      padding-bottom: 15px;
      column-gap: 25px;
      border-bottom: 2px solid #00000066;
      margin-bottom: 20px;
      img {
        width: 30px;
        height: 30px;
      }
    }
  }
}
.modal.modal__active {
  display: block;
}
@media screen and (max-width: 1400px) {
  .content-head {
    max-width: 1140px;
  }
}
@media screen and (max-width: 1200px) {
  .content-head {
    max-width: 960px;
  }
}

@media screen and (max-width: 992px) {
  .community {
    .banner {
      height: 70vh;
      .content-head {
        max-width: 720px;

        &-h1 {
          font-family: Helvetica;
          font-size: 40px;
          font-weight: 400;
          line-height: 40px;
          letter-spacing: -0.06em;
          text-align: left;
        }
        &-p {
          font-family: Helvetica;
          font-size: 20px;
          font-weight: 400;
          line-height: 20px;
          letter-spacing: -0.04em;
          text-align: left;
          width: 500px;
        }
      }
    }
  }
  .modal__dialog{
    padding: 40px;
  }
}
@media screen and (max-width: 768px) {
  .community {
    .banner {
      height: 100vh;
      .content-head {
        max-width: 540px;
      }
    }
  }
  .modal__dialog{
    width: 90%;
    padding: 40px;
    &-title{
      font-size: 40px;
      line-height: 100%;
      margin-bottom: 30px;
    }
  }
}
@media screen and (max-width: 576px) {
  .community {
    .margin-top-for-community {
      margin-top: 170px;
    }
    .banner {
      height: 50vh;
      margin-bottom: 150px;
      .content-head {
        margin-bottom: -160px;
        &-h1 {
          font-family: Helvetica;
          font-size: 34px;
          font-weight: 550;
          line-height: 34px;
          letter-spacing: -0.04em;
          text-align: left;
          color: black;
        }
        &-p {
          font-family: Helvetica;
          font-size: 14px;
          font-weight: 400;
          line-height: 14px;
          letter-spacing: -0.04em;
          text-align: left;
          color: rgba(0, 0, 0, 0.555);

          width: 320px;
        }
      }
    }
  }

  .modal__dialog{
    padding: 30px;
    &-title{
      font-size: 20px;
      line-height: 100%;
      margin-bottom: 30px;
    }
    ul li{
      img{
        width: 20px;
        height: 20px;
      }
      a, p{
        font-size: 14px;
      }
    }
  }
}
