.Services {


    &-reverse-row {
        flex-direction: row-reverse;
    }

    &-list-img {
        width: 100%;
        height: 350px;
        object-fit: scale-down;

    }

    &-list {
       &-title {
        font-size: 30px;
        font-weight: 400;
        line-height: 138%;
        }

        &-description {
            font-size: 18px;
            font-weight: 400;
            line-height: 110%;
            letter-spacing: -0.04em;
            margin-top: 20px;
            color: gray;
        }
    }



    .Services-h1 {
        text-transform: uppercase;
        font-size: 26px;
    }

    .mainscreen {
        height: 100vh;
        background-size: cover;

        &-text {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            height: 85vh;
            width: 65%;
        }
    }

    &-Services-h1 {
        font-family: Helvetica;
        font-size: 30px;
        font-weight: 400px;
        line-height: 43px;
        letter-spacing: -0.04em;
        text-align: left;
    }

    &-h1-imgs {
        display: flex;
        justify-content: space-around;
        padding-top: 50px;
        margin-left: -10px;
    }

    &-img-card {
        width: 310px;
        height: 240px;
        padding: 5px;
    }

    &-h1-imgs-img {
        width: 100%;
        height: 100%;
        border-radius: 20px;
        object-fit: cover;

    }

    &-h1-imgs-img-title {
        font-family: Helvetica;
        font-size: 20px;
        font-weight: 400;
        line-height: 23px;
        letter-spacing: -0.04em;
        margin: 5px;
    }



}

.padding-box {
    padding-top: 100px;
}

@media screen and (max-width: 1400px) {
    .Services .mainscreen {
        padding-top: 400px;
    }
}

@media screen and (max-width: 1200px) {
    .Services .mainscreen {
        padding-top: 350px;
    }

    .Services .mainscreen-text__p {
        font-size: 20px;
    }
}

@media screen and (max-width: 992px) {
    .services-card-scroll {
        overflow: visible;
        overflow-x: auto;
        white-space: nowrap;
        height: 40vh;
    }

    .Services-img-card {
        height: 150px;
    }

    .Services .mainscreen-text__h1 {
        font-size: 34px;
    }

    .Services-h1 {
        font-size: 16px;
    }
    .Services-list-title{
        font-size: 18px;
        *{
            font-size: 18px;
        }
    }
    .Services-list-description{
        font-size: 17px;
        *{
            font-size: 17px;
        }
    }
    .Services-list-img {
        height: 250px;
    }
}

@media screen and (max-width: 768px) {
    .Services {
        .padding-100px {
            padding: 15px 0;
        }

        .Services-h1 {
            font-size: 16px;
        }
    }

    .Services {
        .InfoBlock-text h1 {
            font-size: 22px;
            line-height: 36px;
        }
    }

}

@media screen and (max-width: 576px) {
    .Services {
        .InfoBlock {
            flex-wrap: wrap;

            &-img,
            &-text {
                width: 100%;
            }
        }

    }

    .Services-h1 {
        font-size: 16px;
    }

    .Services .mainscreen-text__h1 {
        font-size: 34px;
    }

    .Services .mainscreen-text__p {
        font-size: 14px;
    }
}
