.Services {
    .Services-h1{
        text-transform: uppercase;
        font-size: 26px;
    }
    .mainscreen {
        width: 100%;
        height: 100vh;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        margin-bottom: 50px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        
        &-text {
            margin-bottom: 100px;
            width: 1320px;
            
            margin: 50px auto;
            margin-bottom: 200px;


            &__h1 {

                font-family: 'Helvetica';
                font-style: normal;
                font-weight: 400;
                font-size: 40px;
                line-height: 100%;
                display: flex;
                align-items: center;
                letter-spacing: -0.04em;
                text-transform: uppercase;

                color: #FFFFFF;


            }

            &__p {
                font-family: 'Helvetica';
                font-style: normal;
                font-weight: 100;
                font-size: 24px;
                line-height: 100%;
                margin-top: 30px;
                display: flex;
                align-items: center;
                letter-spacing: -0.04em;
                color: #FFFFFF;
                width: 700px;
            }
        }
    }

    &-Services-h1 {
        font-family: Helvetica;
        font-size: 30px;
        font-weight: 400px;
        line-height: 43px;
        letter-spacing: -0.04em;
        text-align: left;
    }

    &-h1-imgs {
        display: flex;
        justify-content: space-around;
        padding-top: 50px;
        margin-left: -10px;
    }

    &-img-card {
        width: 310px;
        height: 240px;
        padding: 5px;
    }

    &-h1-imgs-img {
        width: 100%;
        height: 100%;
        border-radius: 20px;
        object-fit: cover;

    }

    &-h1-imgs-img-title {
        font-family: Helvetica;
        font-size: 20px;
        font-weight: 400;
        line-height: 23px;
        letter-spacing: -0.04em;
        margin: 5px;
    }



}

.padding-box {
    padding-top: 100px;
}

@media screen and (max-width: 1400px){
    .Services .mainscreen {
        padding-top: 400px;
    }
}

@media screen and (max-width: 1200px){
    .Services .mainscreen {
        padding-top: 350px;
    }

.Services .mainscreen-text__p{
font-size: 20px;
    }
}

@media screen and (max-width: 992px) {
    .services-card-scroll {
        overflow: visible;
        overflow-x: auto;
        white-space: nowrap;
        height: 40vh;
    }

    .Services-img-card {
        height: 150px;
    }
    .Services .mainscreen-text__h1{
        font-size: 34px;
    }
    .Services-h1 {
        font-size: 16px;
    }
}   

@media screen and (max-width: 768px) {
    .Services {
        .padding-100px {
            padding: 15px 0;
        }
        .Services-h1 {
        font-size: 16px;
        }
    }

    .Services {
        .InfoBlock-text h1 {
            font-size: 22px;
            line-height: 36px;
        }
    }

}

@media screen and (max-width: 576px){
    .Services{
        .InfoBlock {
            flex-wrap: wrap;
            &-img,
            &-text{
                width: 100%;
            }
        }

    }
    .Services-h1 {
        font-size: 16px;
    }
    .Services .mainscreen-text__h1{
        font-size: 34px;
    }
    .Services .mainscreen-text__p{
        font-size: 14px;
            }
}
