.ambassadorship {
  .reverse {
    flex-direction: row-reverse;
  }

&-detail-download{
    text-align: center;
    margin: 50px 0;
    &-btn{
        background: #0A30B4;
        color: #fff;
        text-decoration: none;
        padding: 15px 55px;
        border-radius: 20px;

  }
}


  // created by Kuba
  &-card {
    display: flex;
    column-gap: 20px;

    &-img {
      width: 400px;
      border-radius: 20px;
    }

    &-title {
      font-family: Helvetica;
      font-size: 32px;
      font-weight: 400;
      line-height: 35.2px;
      letter-spacing: -0.04em;
      margin-bottom: 18px;
      color: #000000;


    }

    &-text {
      font-family: Helvetica;
      font-size: 24px;
      font-weight: 400;
      line-height: 110%;
      letter-spacing: -0.04em;
      color: #0000008F;
      margin-bottom: 10px;

    }
  }
}





@media screen and (max-width: 1200px){
  .ambassadorship-card-img{
    width: 340px;
  }
  .ambassadorship-card-title{
    font-size: 28px;
  }
  .ambassadorship-card-text{
    font-size: 20px;
  }
}

@media screen and (max-width: 768px) {
  .ambassadorship-card-img{
    width: 280px;
  }
  .ambassadorship-card-title{
    font-size: 24px;
  }
  .ambassadorship-card-text{
    font-size: 14px;
  }
}

@media screen and (max-width: 576px) {
  .ambassadorship {
    .reverse {
      flex-direction: column-reverse;
    }
  }
  .ambassadorship-card{
    flex-wrap: wrap;
    row-gap: 10px;
  }
  .ambassadorship-card-img {
    width: 100%;
  }
.ambassadorship-detail-download-btn {
  font-size: 14px;
  padding: 12px 20px;
}

}
