@import url('https://fonts.cdnfonts.com/css/helvetica-neue-5');

* {
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    overscroll-behavior: none;
    font-family: Helvetica;
}

h1 {
    margin-block: 0px;
    margin-block-start: 0px;
    margin-block-end: 0px;
}

.col-2 {
    width: 16.66%;
    /* 2/12 * 100 */
    float: left;
    padding: 0 15px;
}

.col-3 {
    width: 25%;
    padding: 0 15px;
}

.col-4 {
    width: 33.33%;
    /* 4/12 * 100 */
    float: left;
    padding: 0 15px;
}

.col-6 {
    width: 50%;
    /* 6/12 * 100 */
    float: left;
    padding: 0 15px;
}

.col-12 {
    width: 100%;
    /* 12/12 * 100 */
    float: left;
    padding: 0 15px;
}

/* Добавление clearfix для сброса float */
.row {
    display: flex;
    flex-wrap: wrap;
}

.column {
    display: flex;
    flex-direction: column;
}

/* Основной контейнер */
.container {
    max-width: 1320px;
    margin: 0 auto;
    padding: 0 30px;
}

.page-title {
    font-family: Helvetica;
    font-size: 60px;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: -0.04em;
    color: #fff;
    margin-bottom: 20px;
}

.page-description {
    font-family: Helvetica;
    font-size: 20px;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: -0.04em;
    color: #fff;
}

.page-main-text-block{
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      height: 85vh;
      width: 65%;
}
.page-main-text-block-mobile{
    display: none;
}

.page-banner{
    background-size: cover;
    height: 100vh;
}

.section{
    padding: 40px 0;
}

.section-title{
font-size: 40px;
font-weight: 700;
line-height: 115%;
letter-spacing: -0.04em;

}

.row-gap-150{
    margin-bottom: 150px;
}
.row-gap-60{
    margin-bottom: 40px;
}


@media screen and (max-width: 1400px) {
    .container {
        max-width: 1140px;
    }
}

@media screen and (max-width: 1200px) {
    .container {
        max-width: 960px;
    }

    .page-title{
        font-size: 40px;
    }
    .page-description{
        font-size: 20px;
    }
    .section-title{
        font-size: 30px;
    }
}

@media screen and (max-width: 992px) {
    .container {
        max-width: 720px
    }

}

@media screen and (max-width: 768px) {
    .container {
        max-width: 540px
    }

    .page-main-text-block{
        width: 80%;
    }
}

@media screen and (max-width: 576px) {
    .container {
        max-width: 100%;
        padding: 0 10px;
    }

    .col-6 {
        width: 100%;
    }
    .section-title{
        font-size: 24px;
    }

    .page-main-text-block{
        display: none;
    }
    .page-banner{
        height: 50vh;
    }

    .page-main-text-block-mobile{
        display: block;
        margin-top: 20px;
    }
    .page-title-mobile{
        color: black;
        font-family: Helvetica;
        font-size: 24px;
        font-weight: 400;
        line-height: 100%;
        margin-bottom: 20px;
    }
    .page-description-mobile{
        color: black;
        font-family: Helvetica;
        font-size: 14px;
        font-weight: 100;
        line-height: 14px;
        letter-spacing: -0.04em;
    }
.col-3{
    width: 100%;
}
}
