@import url('https://fonts.cdnfonts.com/css/helvetica-neue-5');

* {
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    overscroll-behavior: none;
    font-family: Helvetica;
}

h1 {
    margin-block: 0px;
    margin-block-start: 0px;
    margin-block-end: 0px;
}

.col-2 {
    width: 16.66%;
    /* 2/12 * 100 */
    float: left;
    padding: 0 15px;
}

.col-3 {
    width: 25%;
    padding: 0 15px;
}

.col-4 {
    width: 33.33%;
    /* 4/12 * 100 */
    float: left;
    padding: 0 15px;
}

.col-6 {
    width: 50%;
    /* 6/12 * 100 */
    float: left;
    padding: 0 15px;
}

.col-12 {
    width: 100%;
    /* 12/12 * 100 */
    float: left;
    padding: 0 15px;
}

/* Добавление clearfix для сброса float */
.row {
    display: flex;
    flex-wrap: wrap;
}

.column {
    display: flex;
    flex-direction: column;
}

/* Основной контейнер */
.container {
    max-width: 1320px;
    margin: 0 auto;
}

.page-title {
    font-family: Helvetica;
    font-size: 60px;
    font-weight: 400;
    line-height: 60px;
    letter-spacing: -0.04em;
    color: #fff;
    margin-bottom: 20px;
}

.page-description {
    font-family: Helvetica;
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: -0.04em;
    color: #fff;
}

.page-main-text-block{
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      height: 85vh;
      width: 65%;
}

.page-banner{
    background-size: cover;
    height: 100vh;
}

.section{
    padding: 75px 0;
}

.row-gap-150{
    margin-bottom: 150px;
}
.row-gap-60{
    margin-bottom: 60px;
}


@media screen and (max-width: 576px) {


}

@media screen and (max-width: 1400px) {
    .container {
        max-width: 1140px;
    }
}

@media screen and (max-width: 1200px) {
    .container {
        max-width: 960px;
    }
}

@media screen and (max-width: 992px) {
    .container {
        max-width: 720px
    }
}

@media screen and (max-width: 768px) {
    .container {
        max-width: 540px
    }
}

@media screen and (max-width: 576px) {
    .container {
        max-width: 100%;
        padding: 0 10px;
    }

    .col-6 {
        width: 100%;
    }
}
