.events-video {
  width: 100% !important;

  &-title {
    font-size: 26px;
    font-weight: 400;
    line-height: 110%;
    letter-spacing: -0.04em;
  }

  &-text {
    font-size: 22px;
    font-weight: 400;
    line-height: 110%;
    letter-spacing: -0.04em;
    color: gray;
    margin-top: 15px;
  }
}

.events-row-reverse{
  flex-direction: row-reverse;
}

@media screen and (max-width: 992px) {
  .events-video{
    height: 280px!important;
    &-title{
      font-size: 18px;
    }
    &-text{
      font-size: 17px;
    }
  }
}

@media screen and (max-width: 768px) {
  .events-video{
    height: 200px!important;

    &-text{
      font-size: 16px;
    }
  }
}

@media screen and (max-width: 576px) {
  .events-video{
    height: 280px!important;

    &-title{
      margin-top: 20px;
    }
    &-text{
      font-size: 14px;
    }
  }
}
