.ambassador-category-menu {
    width: 400px;
    position: relative;
    &-head {
        background: #616161;
        width: 400px;
        height: 60px;
        display: flex;
        padding: 0 25px;
        justify-content: space-between;
        align-items: center;
        border: 1px solid #000;

        &-btn {
            background-color: transparent;
            border: none;
            cursor: pointer;
        }

        &-title {
            font-family: Helvetica;
            font-size: 32px;
            font-weight: 400;
            line-height: 100%;
            letter-spacing: -0.04em;
            color: #fff;
        }
    }

    &-list{
        box-shadow: 0px 0px 17px -8px rgba(0,0,0,0.75);
        height: 0;
        opacity: 0;
        overflow: hidden;
        transition: .5s;
        position: absolute;
        width: 100%;
        top: 60px;
        &-item{
            height: 60px;
            display: flex;
            column-gap: 10px;
            align-items: center;
            background-color: #fff;
            padding: 10px;
            box-shadow: 0px 0px 10px -8px rgba(0,0,0,0.75);
        }
    }
}
