.company-detail {

    &-banner {
        height: 100vh;
        background-size: cover;

        &-text-block {
            display: flex;
            flex-direction: column;
            height: 85vh;
            justify-content: flex-end;
        }
    }

    &-title {
        font-family: Helvetica;
        font-size: 50px;
        font-weight: 400;
        line-height: 100%;
        letter-spacing: -0.04em;
        color: #fff;
    }

    &-text {
        font-family: Helvetica;
        font-size: 20px;
        font-weight: 400;
        line-height: 100%;
        letter-spacing: -0.04em;
        color: #fff;
        margin-top: 20px;
    }

    &-requisites{
        width: 70%;
        margin: 0 auto;
        &-item{
            display: flex;
            justify-content: space-between;
            padding: 20px;
            border-bottom: 1px solid black;
        }
    }

    &-contact{
        display: flex;
        justify-content: space-between;
        width: 70%;
        margin: 0 auto;
        margin-top: 20px;
        &-item{
            display: flex;
            align-items: center;
            &-icon{
                width: 32px;
            }
        }

    }

    &-download{
        text-align: center;
        margin: 50px 0;
        &-btn{
            background: #0A30B4;
            color: #fff;
            text-decoration: none;
            padding: 15px 55px;
            border-radius: 20px;
        }
    }

}
